.btn {
    height: 2.5rem;
    border-radius: 5px;
    background-color: #3366ff;
    border: 0;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 28px;
}